<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.bluecar.bluecar.repository.MemberRepository">

    <insert id="save" parameterType="com.bluecar.bluecar.dto.MemberDTO">
        INSERT INTO member_tbl(userId,pw,name,phone,yeardate,email) values (#{userId},#{pw},#{name},#{phone},#{yeardate},#{email})
    </insert>

    <select id="findId"   resultType="com.bluecar.bluecar.dto.MemberDTO">
    select * from member_tbl where userId = #{userId}
    </select>

    <update id="update" parameterType="com.bluecar.bluecar.dto.MemberDTO">
        update member_tbl set userId = #{userId}, pw = #{pw} where id = #{id}
    </update>
    
    <delete id="delete" parameterType="com.bluecar.bluecar.dto.MemberDTO">
        delete from member_tbl where id=#{id}
    </delete>

    <select id="findByEmail" resultType="com.bluecar.bluecar.dto.MemberDTO">
        select * from member_tbl where email=#{email}
    </select>



</mapper>