<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>블루카 차량손해면책제도 이용약관</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            color: #333;
            margin: 20px;
        }

        h1 {
            color: #3498db;
        }

        p {
            margin-bottom: 20px;
        }

        ol {
            margin-bottom: 20px;
        }

        li {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
<article>
    <h1>블루카 차량손해면책제도 이용약관</h1>
    <p>본 약관은 주식회사 블루카 및 대여용 자동차 임대인(이하 “회사”)과 임차인(이하 “회원”) 간 “쏘카 차량손해면책제도”를 이용하여, 사고 발생에 따라 가해지는 회원의 예기치 못한 금전적 손해를 최소화하는 계약(이하 “면책 계약”)을 체결하는 데 있어 해당 그 내용과 회사와 회원의 의무와 책임, 기타 필요한 사항을 규정함을 목적으로 합니다.</p>

    <h2>제1조 용어의 정의</h2>
    <ol>
        <li><strong>“블루카 차량손해면책제도”(이하 “차량손해면책제도”)</strong>: 회사에서 제공하는 대여용 자동차(이하 “차량”)를 예약할 시 회원이 가입하여, 본인이 운전한 차량에 발생한 사고로 타차량 또는 타물체와의 충돌 또는 접촉으로 직접적으로 생긴 손해를 보전하는 서비스를 의미합니다.</li>
        <li><strong>“블루카 차량손해면책상품”(이하 “차량손해면책상품”)</strong>: 운행 중 사고로 인하여 차량을 수리할 경우, 회원이 부담해야 할 최대한도 금액(이하 “자기부담금”)을 차량 등급 등에 따라 개별 제공되는 상품을 의미합니다.</li>
        <li><strong>“면책 보험료”</strong>: 선택한 차량손해면책상품에 따라 책정되는 서비스 요금을 의미합니다.</li>
        <li>본 조에서 정의되지 않은 약관상 용어의 의미는 일반적인 거래관행에 따릅니다.</li>
    </ol>

    <h2>제2조 계약의 체결</h2>
    <ol>
        <li>차량손해면책제도는 회사에서 제공하는 차량 예약 플랫폼을 통해 임대차계약(이하 “예약”) 체결 시, 차량손해면책상품을 선택하고 면책 보험료를 납부하면 면책 계약이 체결된 것으로 간주합니다.</li>
        <li>면책 보장 기간은 예약 기간과 동일하며, 임의로 변경할 수 없습니다. 단, 회사와 사전 협의하여 조정한 예약 시간에 대해서는 보장이 가능합니다.</li>
    </ol>

    <h2>제3조 계약의 해지 및 취소</h2>
    <ol>
        <li>예약이 취소 또는 해지 되었을 경우, 면책 계약도 동일한 시점에 해지된 것으로 간주합니다. 단, 차량손해면책제도는 예약과 별개로 취소 및 해지할 수 없습니다.</li>
        <li>회원의 개인 사유로 인하여 예약이 취소 또는 해지되는 경우 취소수수료가 부과될 수 있으며, 이 경우 「쏘카 자동차대여약관 제7조 자동차 예약의 변경 또는 취소」의 기준을 동일하게 따릅니다.</li>
    </ol>

    <h2>제4조 보장 범위 및 처리</h2>
    <ol>
        <li>차량손해면책제도는 회원이 예약한 차량 운행 중 다른 차량(또는 물체)를 충돌, 접촉으로 인해 발생한 사고에 대해서만 보장이 가능하며, 예약 기간 외 발생한 사고에 대해서는 보장이 불가합니다.</li>
        <li>차량손해면책제도의 보장 범위는 사고 처리 중 발생하는 비용 및 휴차보상료이며, 긴급출동, 견인, 구난 등 현장 처리 비용의 경우 보장 범위에서 제외됩니다. 단, 자기부담금이 없는 상품의 경우 사고 시 차량 수리 비용, 휴차보상료 및 제휴 업체의 견인/구난 서비스를 포함하여 보장합니다.</li>
        <li>회원은 사고 발생시 사고 건당 차량 사고처리 비용에 대해 자신이 가입한 차량손해면책 상품의 자기부담금을 한도로 회사에 손해를 배상합니다. 단, 발생한 비용이 자기부담금 이하일 경우 실제 발생한 비용을 한도로 합니다.</li>
        <li>제5조 금지 조항에 따른 행위를 통해 손해 발생 시 보장이 불가하며, 손해배상금 및 페널티 금액이 부과될 수 있습니다.</li>
    </ol>


</article>
</body>

</html>
